@use '../base/variables' as v;
@use '../base/mixins' as m;

.barra {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
    @include m.tablet {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
    }
}

.derecha {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include m.tablet {
        align-items: flex-end;
    }
    .dark-mode-boton {
        width: 3rem;
        margin: 3rem 0;
        filter: invert(100%);
        &:hover {
            cursor: pointer;
        }
        @include m.tablet {
            margin-top: 0;
        }
    }
}

.navegacion {
    visibility: hidden;
    opacity: 0;
    height: 0;
    transition: visibility .3s ease-in-out, opacity .5s linear, height .5s linear;
    @include m.tablet {
        visibility: visible;
        opacity: 1;
        display: flex;
        align-items: center;
        gap: 2rem;
    }
    a {
        color: v.$blanco;
        text-decoration: none;
        font-size: 2.2rem;
        display: block;
        text-align: center;
        @include m.tablet {
            font-size: 1.8rem;
        }
        &:hover {
            color: v.$verde;
        }
    }
}

/* Menú de Hamburguesa */
.mobile-menu {
    @include m.tablet {
        display: none;
    }
    img {
        width: 5rem;
    }
}
.mostrar {
    visibility: visible;
    opacity: 1;
    height: auto;
}